
$o-navbar-background: $o-view-background-color !default;

$o-navbar-border-bottom: 0px solid $o-navbar-background !default;

$o-navbar-entry-color: $o-gray-900 !default;
$o-navbar-entry-color--hover: $o-black !default;

$o-navbar-badge-bg: $o-danger !default;
$o-navbar-badge-color: $o-black !default;
$o-navbar-badge-text-shadow: 0 !default;
